@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Lilita+One&family=Mogra&display=swap');
    
.Container{
    display: flex;
    justify-content: center;
    align-items: center; /* Permite que los elementos bajen en pantallas pequeñas */
    gap: 2rem;
    max-width: 1200px; /* Evita que los elementos se expandan demasiado */
    margin: auto; /* Centra el contenedor */

}

:root{
    ---negro: Black;
    --celesteopaco:rgb(233, 236, 238);
  
}
main{
    background-color: var(--celesteopaco);
}
.CoastContainer{
    align-items: center;


}
.CoastContainer h2{
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style:oblique;
    text-align: center;
}
.ImgCoast{
    cursor: pointer;
    height: 250px;
    width: 450px;
    border-radius: 10px;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.288));
    transition: transform 0.3s ease-in-out;
}
.ImgCoast:hover{
    transform: scale(1.1);
    filter: drop-shadow(2px 0px 5px rgb(32, 29, 29));
}
.JungleContainer h2{
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style:oblique;
    text-align: center;
}


.ImgJungle{
    height: 250px;
    width: 450px;
    border-radius: 10px;
    filter: drop-shadow(2px 2px 2px  rgba(0, 0, 0, 0.358));
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.ImgJungle:hover{
    transform: scale(1.1);
    filter: drop-shadow(2px 0px 5px rgb(32, 29, 29));
}


.SierraContainer h2{
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style:oblique;
    text-align: center;
}
.ImgSierra{
    height: 250px;
    width: 450px;
    border-radius: 10px;
    filter: drop-shadow(2px 2px 2px rgba(0,0,0 0.358));
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}
.ImgSierra:hover{
    transform: scale(1.1);
    filter: drop-shadow(2px 0px 5px rgb(32, 29, 29));
}
