@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Lilita+One&family=Mogra&display=swap');

header{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.imageHeader{
     width: 100%;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

h2{
    justify-content: center;
    align-items: center;
    display: flex;
    z-index: 2;
    position: relative;
    height: 55vh;
    text-shadow: 2px 1px 2px rgb(23, 2, 2);
    font-weight:50em;
    font-family: "Archivo Black", sans-serif;
    font-style:normal;
    font-size: 3rem;
    color: white;
}
    