@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Lilita+One&family=Mogra&display=swap');

:root{
    --blanco:white;
    --rojo:red;
    --azul:blue;
    --sombra:rgba(0, 0, 0, 0.288); 
    --NegroOpaco:rgb(96, 73, 73);
}

.containerNav{
 display: flex;
 justify-content: space-evenly;
 align-items: center;
 width: 100%;

 gap: 15rem;

top: 0;
margin: 0;
}
.containerli{
    display: flex;
    gap: 50px;
    text-decoration: none;
    list-style-type:none;
    font-family: sans-serif;
    font-weight: 600;
    font-style:oblique;
    color: var(--NegroOpaco);
    
    
}
.spantitle{
    font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style:oblique;
  color: var(--rojo);
  text-shadow:2px 2px 2px var(--sombra);
}